<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Flagged Posts</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive overflow-auto">
            <table class="table table-hover">
              <thead class=" text-primary">
                <th>
                  Posted By
                </th>
                <th>
                  Created on
                </th>
                <th>
                  Status
                </th>
              </thead>
              <tbody>
                <tr
                  *ngFor="let post of posts; index as i"
                  (click)="showPost(post)"
                >
                  <td>
                    {{ post.postedBy.name }}
                  </td>
                  <td>
                    {{ post.created }}
                  </td>
                  <td>
                    {{ post.status === 0 ? "Enabled" : "Disabled" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="post">
      <div class="card card-user">
        <div class="card-body" style="min-height: auto;">
          <div class="ui feed">
            <div class="event">
              <div class="label">
                <img [src]="post.postedBy.profile_pic" />
              </div>
              <div class="content">
                <div class="summary">
                  <a>{{
                    post.postedBy.name
                  }}</a>
                  posted on his page
                  <div class="date">
                    {{ post.created | timeago }}
                  </div>
                </div>
                <div class="extra text">
                  {{ post.text }}
                </div>
                <div class="extra images" *ngIf="post.photo">
                  <a><img [src]="post.photo"/></a>
                </div>
                <div class="meta">
                  <span class="like mr-4">
                    <i class="fa fa-thumbs-up"></i>
                    {{ post.likes.length }} Likes
                  </span>
                  <span class="like">
                    <i class="fa fa-comment"></i>
                    {{ post.comments.length }} Comments
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="button-container px-4">
          <button class="btn btn-primary float-left" (click)="enablePost(post)" *ngIf="post.status === 1">
            Enable Post
          </button>
          <button class="btn btn-primary float-left" (click)="disablePost(post)" *ngIf="post.status === 0">
            Disable Post
          </button>
          <button class="btn btn-secondary float-right" (click)="deletePost(post)" *ngIf="post.status === 1">
            Delete Post
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
