<div class="row mb-5">
  <div class="col-lg-12">
    <div class="d-block d-md-flex justify-content-between mt-4 mt-md-0">
      <div class="text-center mt-4 mt-md-0">
        <button
          class="btn btn-primary btn-round btn-lg btn-block"
          (click)="goToFeed()"
        >
          Go to Timeline
        </button>
      </div>
    </div>
  </div>
</div>

<div class="ui feed" infiniteScroll *ngIf="post">
  <div class="event">
    <div class="label">
      <a [routerLink]="['/users/main/profiles', post.postedBy._id]">
        <img [src]="post.postedBy.profile_pic" />
      </a>
    </div>
    <div class="content">
      <div class="summary" [class.text-danger]="post.status === 1">
        <a
          [routerLink]="['/users/main/profiles', post.postedBy._id]"
          class="text-decoration-none"
        >
          {{ post.postedBy.name }}</a
        >
        posted on his page
        <div class="date">
          {{ post.created | timeago }}
        </div>
      </div>
      <div
        class="extra text"
        [class.text-danger]="post.status === 1"
        [innerHTML]="post.text | linky: {className: 'post-link'}"
      ></div>
      <div class="extra images" *ngIf="post.photo">
        <a (click)="userService.setImageModal(post.photo)"
          ><img [src]="post.photo" style="width: 15rem;"
        /></a>
      </div>
      <div class="meta">
        <a
          class="like mr-4"
          (click)="likePost(post)"
          [class.text-primary]="hasLiked(post)"
        >
          <i class="fa fa-thumbs-up"></i>
          {{ post.likes.length }} Likes
        </a>
        <a
          class="like"
          (click)="getComments(post)"
          [class.text-primary]="hasCommented(post)"
        >
          <i class="fa fa-comment"></i>
          {{ post.comments.length }} Comments
        </a>
      </div>
      <div class="extra images mb-3">
        <div class="ui comments">
          <div class="comment" *ngFor="let comment of comments; index as j">
            <a class="avatar">
              <img [src]="comment.postedBy.profile_pic" />
            </a>
            <div class="content">
              <a class="author">{{ comment.postedBy.name }}</a>
              <div class="metadata">
                <div class="date mr-3">{{ comment.created | timeago }}</div>
                <a (click)="deleteComment(post, comment)"
                  ><svg
                    class="bi bi-trash-fill"
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    *ngIf="isMyComment(comment.postedBy)"
                  >
                    <title id="svg1title">Delete Comment</title>
                    <path
                      fill-rule="evenodd"
                      d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </div>
              <div class="text">
                {{ comment.text }}
              </div>
            </div>
          </div>
          <form
            class="ui reply form"
            [formGroup]="commentForm"
            (ngSubmit)="commentPost(post)"
          >
            <div
              class="input-group form-group-no-border input-lg"
              [ngClass]="{ 'input-group-focus': focus1 === true }"
            >
              <textarea
                placeholder="Enter comments here"
                class="form-control"
                style="height: 5rem !important;"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
                formControlName="text"
                rows="3"
              ></textarea>
            </div>
            <button
              type="submit"
              [disabled]="!commentForm.valid"
              class="btn btn-primary btn-round"
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                *ngIf="loading"
              ></span>
              <i class="fa fa-edit" *ngIf="!loading"></i> Add Comment
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="text-right" *ngIf="post && isMyPost(post.postedBy)">
  <button type="button" class="btn btn-danger" (click)="open(content)">
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
      *ngIf="loading"
    ></span>
    <i class="fa fa-trash mr-2" *ngIf="!loading"></i> Delete Post
  </button>
</p>

<ng-template #content let-modal class="bg-danger">
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this post?</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="deletePost(post); modal.close('Close click')"
    >
      Confirm
    </button>

    <button
      type="button"
      class="btn btn-outline-dark float-right"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
  </div>
</ng-template>

<p class="font-weight-bold font-italic text-primary" *ngIf="postDeleted">
  Post unavailable. It was probably delete by the user
</p>
