<footer class="footer">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Solice
            </a>
          </li>
          <li>
            <a
              href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md"
            >
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{ data | date: "yyyy" }},
        <a href="https://www.creative-tim.com" target="_blank">Solice</a>.
      </div>
    </div>
  </footer>
