<div class="row mb-5">
  <div class="col-lg-12">
    <div class="d-block d-md-flex justify-content-between mt-4 mt-md-0">
      <div class="text-center mt-4 mt-md-0">
        <button
          class="btn btn-primary btn-round btn-lg btn-block"
          (click)="goToFeed()"
        >
          Go to Timeline
        </button>
      </div>
    </div>
  </div>
</div>

<hr />

<div
  class="profile-page mt-5 m-auto card"
  style="max-width: 30rem;"
  *ngIf="user"
>
  <div class="wrapper card-body m-auto" style="height: 100%;">
    <div class="container">
      <div class="content-center">
        <div class="photo-container" style="height: 15rem; width: 15rem;">
          <img
            [src]="user.profile_pic"
            alt="Profile Picture"
            style="width: 100%; height: 100%;"
          />
        </div>
        <h3 class="title">{{ user.firstname + " " + user.lastname }}</h3>
        <!-- <p class="pb-0 text-center">
          <svg height="36" width="36" class="blinking">
            <circle
              cx="18"
              cy="18"
              r="6"
              [attr.fill]="status ? 'red' : 'yellow'"
            />
          </svg>
          {{ status ? "Online" : "Offline" }}
        </p> -->
      </div>
    </div>
    <div class="section pt-0">
      <div class="container">
        <p class="text-secondary lead text-center" [innerHTML]="user.bio"></p>
      </div>
    </div>
  </div>
</div>
