<!DOCTYPE html>
<html lang="en">
<body>
  Hi {{firstname}},

<p>This is to confirm to you that your password was changed successfully.</p>

<p>If you had not made this change, then your account has been compromised.</p>

<br>
<br>

<p>Take care!</p>
<p><i>Solice Team</i></p>

</body>
</html>
