<!DOCTYPE html>
<html lang="en">
<body>
  Hi {{firstname}},

<p>You sent a request to change your password. If this was done by you then use the link below to change your password, or ignore this email.</p>

<a href="{{link}}">Change Password</a>

<p>Link not working? Try pasting this link into your browser:</p>
<a href="{{link}}">{{link}}</a>

<p>This link will expire in 24 hours.</p>

<br>
<br>

<p>Take care!</p>
<p><i>Solice Team</i></p>

</body>
</html>
