<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome To Solice</title>
</head>
<body>
  Hi {{firstname}},

<p>We are sorry to inform you that your account has been disabled due to a number of posts that were deleted</p>

<p>If you feel that this was a mistake, you can place a request from our website and your issue will be reviewed.</p>

<br>
<br>

<p>Take care!</p>
<p><i>Solice Team</i></p>

</body>
</html>
