<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome To Solice</title>
</head>
<body>
  Hi {{firstname}},

<p>Welcome to Solice. We’re thrilled to see you here!</p>

<p>We’re confident that Solice will help you stay in touch with others.</p>

<br>
<br>

<p>Take care!</p>
<p><i>Solice Team</i></p>

</body>
</html>
