<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome To Solice</title>
</head>
<body>
  Hi {{firstname}},

<p>You have some pending notifications that you may want to take a look at.</p>

<p>Visit at: <a href="https://solice.yeboah.io">Solice</a></p>

<br>
<br>

<p>Take care!</p>
<p><i>Solice Team</i></p>

</body>
</html>
