<nav
  class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent"
  color-on-scroll="500"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        [routerLink]="['/']"
        placement="bottom"
        ngbTooltip="Social Platform for introverts"
      >
        Solice
      </a>
    </div>
    <div
      class="collapse navbar-collapse"
      data-nav-image="assets/img/blurred-image-1.jpg"
      data-color="orange"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-neutral px-4" [routerLink]="[buttonURL]">
            <p>{{ buttonText }}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
