<div class="row">
  <div class="col-lg-12">
    <div class="d-block d-md-flex justify-content-between mt-4 mt-md-0">
      <div class="text-center mt-4 mt-md-0">
        <button
          class="btn btn-primary btn-round btn-lg btn-block"
          (click)="open(content)"
        >
          Post on your feed
        </button>
      </div>
      <div class="text-center mt-4 mt-md-0" *ngIf="user && user.role === 2">
        <button
          class="btn btn-secondary btn-round btn-lg btn-block"
          (click)="goToAdmin()"
        >
          Admin Dashboard
        </button>
      </div>
    </div>
    <div class="mt-4 py-2 border-top">
      <ul class="nav profile-navbar" #navbar ngbNav [activeId]="router.url">
        <li
          class="nav-item"
          *ngFor="let link of routes"
          [ngbNavItem]="link.path"
        >
          <a class="nav-link" [routerLink]="link.path" ngbNavLink>
            <!-- <i class="fa fa-user-circle"></i> -->
            {{ link.title }}
          </a>
        </li>
      </ul>
    </div>
    <div class="mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create new post</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form" [formGroup]="form" (ngSubmit)="onPostSubmit()">
        <div
          class="input-group form-group-no-border input-lg"
          [ngClass]="{ 'input-group-focus': focus === true }"
        >
          <textarea
            class="form-control"
            id="text"
            name="text"
            rows="6"
            placeholder="What is on your mind?"
            (focus)="focus = true"
            (blur)="focus = false"
            formControlName="text"
          ></textarea>
        </div>
        <div class="form-group mt-4">
          <file-pond
            #myPond
            [options]="pondOptions"
            [files]="pondFiles"
            (oninit)="pondHandleInit()"
            (onaddfile)="pondHandleAddFile($event)"
          >
          </file-pond>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="notify"
            formControlName="notify"
          />
          <label class="custom-control-label" for="notify"
            >Notify my followers</label
          >
        </div>

        <div class="modal-footer mt-2">
          <button
            type="submit"
            [disabled]="!form.valid"
            class="btn btn-primary btn-round btn-lg btn-block m-auto px-5"
          >
            Add to feed
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
