<div class="container-fluid" *ngIf="authenticated">
  <div class="row">
    <div class="col-12 col-lg-3 p-lg-4">
      <app-bio [status]="active" (main)="editProfile($event)" #bio></app-bio>
    </div>
    <div class="col-12 col-lg-6 p-lg-4">
      <router-outlet></router-outlet>
    </div>
    <div class="col-12 col-lg-3 p-lg-4" style="border-left: 1px dashed gray;">
      <app-activity></app-activity>
    </div>
  </div>
</div>

<ng-template #imageModal>
  <div class="modal-body p-0">
    <img [src]="imageSrc" alt="Image" class="" style="width: 45rem;" />
  </div>
</ng-template>
