<div class="main-content">
  <div class="row">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Create Ads</h5>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div
              class="input-group form-group-no-border input-lg"
              [ngClass]="{ 'input-group-focus': focus === true }"
            >
              <textarea
                class="form-control"
                id="text"
                name="text"
                rows="6"
                placeholder="Enter ad content..."
                (focus)="focus = true"
                (blur)="focus = false"
                formControlName="text"
              ></textarea>
            </div>
            <div class="input-group form-group-no-border input-lg">
              <input
                type="url"
                class="form-control"
                id="url"
                placeholder="Ad external URL"
                formControlName="url"
              />
            </div>
            <div class="form-group mt-4">
              <file-pond
                #myPond
                [options]="pondOptions"
                [files]="pondFiles"
                (oninit)="pondHandleInit()"
                (onaddfile)="pondHandleAddFile($event)"
              >
              </file-pond>
            </div>

            <div class="mt-4">
              <label>Select Target Audience</label>
              <form
                class="form"
                [formGroup]="targetForm"
                (ngSubmit)="onTargetSubmit()"
              >
                <div class="table-responsive overflow-auto">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Field
                      </th>
                      <th>
                        Operator
                      </th>
                      <th>
                        Value
                      </th>
                      <th>Action</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let t of targets; index as j">
                        <td>
                          {{ t.field }}
                        </td>
                        <td>
                          {{ t.operator }}
                        </td>
                        <td>
                          {{ t.value }}
                        </td>
                        <td>
                          <a (click)="deleteTarget(t, j)"
                            ><svg
                              class="bi bi-trash-fill"
                              width="1em"
                              height="1em"
                              viewBox="0 0 16 16"
                              fill="currentColor"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <title id="svg1title">Delete</title>
                              <path
                                fill-rule="evenodd"
                                d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
                                clip-rule="evenodd"
                              />
                            </svg>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-group">
                            <select
                              class="form-control"
                              formControlName="field"
                            >
                              <option value="age">Age</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="form-group">
                            <select
                              class="form-control"
                              formControlName="operator"
                            >
                              <option value="==">Equal to</option>
                              <option value="<">Less than</option>
                              <option value=">">Greater than</option>
                              <option value="!=">Is not</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div
                            class="input-group form-group-no-border input-lg"
                          >
                            <input
                              type="text"
                              class="form-control"
                              id="value"
                              placeholder="Enter value"
                              formControlName="value"
                            />
                          </div>
                        </td>
                        <td>
                          <button
                            type="submit"
                            [disabled]="!targetForm.valid"
                            class="btn btn-secondary"
                          >
                            Add Target
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
            <div class="modal-footer mt-2">
              <button
                type="submit"
                [disabled]="!form.valid"
                class="btn btn-primary btn-round btn-lg m-auto px-5"
              >
                Create Advertisement
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
