<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
      <div
        class="page-header-image rellax-header"
        data-rellax-speed="-8"
        style="background-image: url('assets/img/bg5.jpg') ;"
      ></div>
      <div class="container" *ngIf="user">
        <div class="content-center">
          <div class="photo-container">
            <img src="assets/img/ryan.jpg" alt="" />
          </div>
          <h3 class="title">{{ user.firstname + " " + user.lastname }}</h3>
        </div>
      </div>
    </div>
    <div class="section pt-0" *ngIf="user">
      <div class="container">
        <h5 class="title">About me</h5>
        <p class="description">
          {{ user.bio }}
        </p>
        <div class="row">
          <div class="col-md-12">
            <h4 class="title text-center">Friends Online</h4>
            <!--  Friends Here-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
