<!-- Advertisement -->
<div class="my-3">
  <a
    class="row border border-black m-auto text-decoration-none"
    style="
      background-color: mediumaquamarine;
      max-width: 25rem;
      height: 5rem;
      border-radius: 5px;
    "
    *ngIf="ad"
    [href]="ad.url"
    target="_blank"
  >
    <div
      class="col-2 has-image m-auto"
      [ngStyle]="{ 'background-image': 'url(' + ad.image + ')' }"
    ></div>
    <div class="col-8 text-secondary" style="max-height: 100%;">
      <p class="text-white">{{ ad.text }}</p>
      <p class="text-right text-white font-italic font-smaller">
        Ad
      </p>
    </div>
    <div class="col-2 text-center my-auto text-white" style="max-height: 100%;">
      <svg
        class="bi bi-caret-right-fill"
        width="3em"
        height="3em"
        viewBox="0 0 16 16"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"
        />
      </svg>
    </div>
  </a>
</div>

<!-- Notifications -->
<div class="row mt-4">
  <div class="col-md-12">
    <p class="text-center text-info font-italic">Your Notifications</p>
  </div>
</div>

<div class="ui cards mt-1">
  <a
    class="ui raised centered card text-decoration-none"
    [ngClass]="{
      'border-bottom primary border-primary': noti.status === true
    }"
    style="width: 25rem;"
    *ngFor="let noti of notifications; index as i"
    [routerLink]="getLink(noti)"
  >
    <ng-container [ngSwitch]="noti.type">
      <div class="content" *ngSwitchCase="0">
        <div class="center aligned header text-primary">New Post</div>
        <div class="description text-center">
          <p>{{ noti.postedBy.lastname + ' ' + noti.postedBy.firstname }} created a new post. Check it out.</p>
        </div>
      </div>

      <div class="content" *ngSwitchCase="1">
        <div class="center aligned header text-primary">Liked Post</div>
        <div class="description text-center">
          <p>{{ noti.postedBy.lastname + ' ' + noti.postedBy.firstname }} liked a post. Check it out.</p>
        </div>
      </div>

      <div class="content" *ngSwitchCase="2">
        <div class="center aligned header text-primary">Commented Post</div>
        <div class="description text-center">
          <p>
            {{ noti.postedBy.lastname + ' ' + noti.postedBy.firstname }} commented on a post. Check it out.
          </p>
        </div>
      </div>

      <div class="content" *ngSwitchCase="3">
        <div class="center aligned header text-primary">Followed User</div>
        <div class="description text-center">
          <p>{{ noti.postedBy.lastname + ' ' + noti.postedBy.firstname }} followed a user. Check him out.</p>
        </div>
      </div>

      <div class="content" *ngSwitchCase="4">
        <div class="center aligned header text-primary">Updated Profile</div>
        <div class="description text-center">
          <p>
            {{ noti.postedBy.lastname + ' ' + noti.postedBy.firstname }} updated his profile. Check it out.
          </p>
        </div>
      </div>

      <div class="content" *ngSwitchCase="5">
        <div class="center aligned header text-primary">Is Online</div>
        <div class="description text-center">
          <p>{{ noti.postedBy.lastname + ' ' + noti.postedBy.firstname }} is online.</p>
        </div>
      </div>

      <div class="content" *ngSwitchCase="5">
        <div class="center aligned header text-primary">Is Online</div>
        <div class="description text-center">
          <p>{{ noti.postedBy.lastname + ' ' + noti.postedBy.firstname }} is online.</p>
        </div>
      </div>

      <div class="content" *ngSwitchCase="6">
        <div class="center aligned header text-primary">Post Flagged</div>
        <div class="description text-center">
          <p>Your recent post was flagged as inappropriate.</p>
        </div>
      </div>

      <div class="content" *ngSwitchCase="7">
        <div class="center aligned header text-primary">Comment Flagged</div>
        <div class="description text-center">
          <p>Your recent comment was flagged as inappropriate.</p>
        </div>
      </div>
    </ng-container>

    <div class="extra content">
      <div class="author d-flex justify-content-between">
        <span class="center aligned"
          ><img
            class="ui avatar image mb-0"
            [src]="noti.postedBy.profile_pic"
          />
          {{ noti.postedBy.lastname + ' ' + noti.postedBy.firstname }}</span
        >
        <span class="date small center aligned">{{
          noti.created | timeago
        }}</span>
      </div>
    </div>
  </a>
</div>
